<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="/semantic/semantic.min.css" rel="stylesheet" />
	<script src="/semantic/semantic.min.js"></script>
    <title>Document</title>
    <style>
        * {
            padding:0;
            margin:0;
            box-sizing:border-box;
        }
        
        html {
            width:100%;
            height:100%;
        }
        
        body {
            width:100%;
            height:100%;
            color: #000;
            background-color: #fff;
        }
                
        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 20px;
            padding-right: 20px;
        }

        #cardbox {
            width:60%;
        }

        #iconImage {
            display:inline;
            width:2em;
            height:2em;
        }
        
        .bottomArea {
            background-color:rgba(242,248,255,255) !important;
        }
    </style>
</head>
<body>
<div class="container">
    <br>
    <div class="ui raised segment">
        <a class="ui blue ribbon label">검색 리스트</a>
        <br><br>
    </div>
    <%for(var i=0;i< result.length;i++){%>
    <div class="ui blue fluid card">
        <div class="content">
            <div class="header">
                <a href="<%=result[i].link%>"><%=result[i].title%></a>
            </div>
            <div class="description">
                <br>
                <p><%=result[i].description%></p>
            </div>
            <div class="meta">
                <span class="right floated time"><%=result[i].pubDate%></span>
            </div>
        </div>
    </div>
    <%}   %>
</div>

<!-- ----------------=-=-=-------------------------------------- -->
    <h1>네이버 뉴스 검색 결과</h1>
    <ul>
       <%for(var i=0;i< result.length;i++){%>
        <li># <%=i%> <br>
            <h2 style="color:blue"><a href='<%=result[i].link%>'><%=result[i].title%></a></h2><br>
        <%=result[i].description%>
        <%}   %>
    </li>
        <br>
    </ul>
</body>

</html>
